@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300;1,800&display=swap');

body{
    font-family: "Open Sans";
  }
  .banner-container{
    background-color: #a8ad9b;
  }
  .banner-column{
    background-color:#74927f
  }
  .navbar{
    background-color: #026971;
  }